/* Style of whole page */
.lesson {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;  
  background-color: #fffacd;
}

/* Fact 1 */
#fact-1 {
  font-weight: bolder;
}

/* Included font size of 24px */
#fact-2 {
  font-size: 24px;
}

/* Included line height of 50px */
#fact-3 {
  line-height: 50px;
}
